<!DOCTYPE html>
<html>
<head>
    <title>Lab Four</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
</head>
<body>

<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/mohan">Mohan(The Dad)</a></li>
        <li><a href="/purvi">Purvi(The Mom)</a></li>
        <li><a href="/dhruva">Dhruva(That's mee!)</a></li>
        <li><a href="/khushi">Khushi(The sis)</a></li>

    </ul>
</nav>
