<%- include partials/header.ejs %>

<h1>About</h1>
<p>This page is a brief description of my family.</p>
<div>
    <p>I am from a really small family based in a metropolitian city in Ahmedabad, India. We are just a small bunch of four
    people. Recently we had an addition to our family. My cat. My sweet little cat.</p>
</div>
<div>
    Go through the tabs to learn more about each of them.
</div>

<%include partials/footer.ejs%>
