<%- include partials/header.ejs %>
<h1>This page wil tell you something about me.</h1>
<ul>
    <div>
        <h3> I come from a family with a modern thinking. I have moved to Canada for further studies. I aspire to become a back end manfframe
        developer someday and make my family proud. I know Mainframe is not something everyone likes nowadays however
        I like it and I am gonna pursue it anyways.</h3>

    </div>
<%-include partials/footer.ejs %>