<%include partials/header.ejs %>
  <h1><%= title %></h1>
  <center><img src="/public/images/Familypjoto.jpg" width="1060" height="720" alt="My family photo."></center>
 <%include partials/footer.ejs%>
