<%- include partials/header.ejs %>
<h1>This page wil tell you something about my little sister.</h1>
<ul>
    <div>
        <h3>My little sister Khushi is a 7 grader who aspires to become like her big sis someday and come
        to Canada. She is a graceful dancer and she dances for the state.</h3>
    </div>
<%-include partials/footer.ejs %>