<%- include partials/header.ejs %>
<h1>This page wil tell you something about my Dad.</h1>
<ul>
<div>
<h3> My Dad is a really sweet person a retired Indian army cadet. He is a tough guy with the
heart of gold. He currently runs four schools and manages all of it's on going activities perfectly and without a problem
at all. He has a really strong will power and great motivation towards whatever he does. He motivates me every day.
</h3>
<img src="pictures/dad alt="Dad's pic.">
</div>