<<<<<<< HEAD
<%- include partials/header.ejs %>
<h1>This page wil tell you something about my Mum.</h1>
<ul>
    <div>
        <h3> My Mom is a ferocious lady with the heart of a lion. She is a criminal Lawyer for the High court and also a stay at home tutor to little school kids.
            She does all this and still manages to give us all the love and attention in the world. She is a superwoman being able to do so many things at a time</h3>

    </div>
<%-include partials/footer.ejs %>
=======
<%- include partials/header.ejs %>
<h1>This page wil tell you something about my Mum.</h1>
<div>
<h3>My Mom is a ferocious lady with the heart of a lion. She is a criminal Lawyer for the High court and also a stay at home tutor to little school kids.
She does all this and still manages to give us all the love and attention in the world. She is a superwoman being able to do so many things at a time
</h3>
<img src="pictures/dad alt="Mum's pic.">
</div>
>>>>>>> 66313a9a6f73d7048a8c1d081c63d784b551b415
